html {
  background-image: url(./images/wallpaper.jpg);
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  color: black;
}

main {
  background-color: transparent;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  padding: 2rem 0;
  text-align: center;
}

footer {
  text-align: center;
}

h1 {
  margin: 3rem 1rem 6rem 1rem;
}

#gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.artObject {
  max-width: 80%;
  max-height: 20rem;
  margin: 1rem;
}

.artObject:hover {
  transform: rotate(180deg) scale(1.5, 1.5);
}
